<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:braine="http://typo3.org/ns/BrainAppeal/CampusEventsFrontend/ViewHelpers"  data-namespace-typo3-fluid="true">

<div class="list-item event-list-item" itemscope="itemscope" itemtype="http://schema.org/Event">
    <div class="item-info-main">
        <f:if condition="{event.categories}">
            <div class="item-categories item-meta">
                <f:for each="{event.categories}" as="category">
                    <span class="category">{category.name}</span>
                </f:for>
            </div>
        </f:if>
        <f:variable name="detailUri" value=""/>
        <f:if condition="{settings.detailPid}">
            <f:then>
                <f:variable name="detailUri" value="{f:uri.action(action: 'show', pageUid: settings.detailPid, arguments:{event:event})}" />
            </f:then>
        </f:if>
        <f:if condition="!{detailUri}">
            <f:variable name="detailUri" value="{event.url}"/>
        </f:if>
        <h3 class="item-title" itemprop="headline">
            <f:if condition="{detailUri}">
                <f:then>
                    <a href="{detailUri}" target="_blank" itemprop="url">{event.name}</a>
                </f:then>
                <f:else>
                    {event.name}
                </f:else>
            </f:if>
        </h3>
        <f:if condition="{event.eventImages} && {event.eventImages.0.imageFile}">
            <f:image image="{event.eventImages.0.imageFile}" width="200"/>
        </f:if>
        <f:if condition="{event.canceled}">
            <span class="label label-default label-event-info">
                <f:if condition="{event.alternativeEvents -> f:count()} > 0">
                <f:then>
                    <f:translate key="canceled_and_postponed">Postponed</f:translate>
                </f:then>
                <f:else>
                    <f:translate key="canceled">Canceled</f:translate>
                </f:else>
            </f:if>
            </span>
        </f:if>
    </div>
    <div class="item-info-extra item-meta">
        <f:for each="{event.timeRanges}" as="timeRange" iteration="dateIterator">
            <f:if condition="{dateIterator.isFirst}">
                <div class="event-times">
                    <div class="date has-fa-icon">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        <time datetime="{f:format.date(date:timeRange.startDate, format:'Y-m-d')}">
                            <f:format.raw><braine:format.timespan timeRange="{timeRange}" format="shortDayAndDate" showTime="0" /></f:format.raw>
                            <meta itemprop="startDate" content="{f:format.date(date:timeRange.startDate, format:'Y-m-d')}" />
                            <meta itemprop="endDate" content="{f:format.date(date:timeRange.endDate, format:'Y-m-d')}" />
                        </time>
                    </div>
                    <f:variable name="formattedTime" value="{braine:format.timespan(timeRange: timeRange, showDate: 0, skipTimeIfMidnightOnSameDate: 1)}"/>
                    <f:if condition="{formattedTime}">
                        <div class="time has-fa-icon">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <f:format.raw>{formattedTime}</f:format.raw>
                            <f:translate key="timeAppend" />
                        </div>
                    </f:if>
                </div>
                <f:if condition="{event.location}">
                    <div class="location has-fa-icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span itemprop="location">{event.location.name}</span>
                    </div>
                </f:if>
            </f:if>
        </f:for>
    </div>
</div>
</html>
