<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <h2>
    <f:if condition="{event.url}">
        <f:then>
            <a href="{event.url}" target="_blank">{event.name}</a>
        </f:then>
        <f:else>
            {event.name}
        </f:else>
    </f:if>
    </h2>
    <f:if condition="{event.subtitle}">
        <h3 class="subtitle">{event.subtitle}</h3>
    </f:if>

    <f:format.html>{event.description}</f:format.html>
    <f:if condition="{event.eventImages} && {event.eventImages.0.imageFile}">
        <f:image image="{event.eventImages.0.imageFile}" width="200"/>
    </f:if>
    <p class="row-item-back">
        <f:link.action action="list" additionalAttributes="{'onclick': 'window.history.go(-1); return false;'}">
            <f:translate key="backToList"/>
        </f:link.action>
    </p>
</f:section>
</html>
